<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dialogflowapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.example.dialogflowapplication.HomePage"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.example.dialogflowapplication.Chatbot"
            android:screenOrientation="portrait"
            android:theme="@style/chatBotSpace"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.QuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/questionSpace"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.SeeTherapistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/therapistSpace"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.Notes"
            android:screenOrientation="portrait"
            android:theme="@style/groupSpace"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.UserNotes"
            android:screenOrientation="portrait"
            android:theme="@style/groupSpace"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.DrawerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.SignUp"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.FirstUser1"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.FirstUser2"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.FirstUser3"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.FirstUser4"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.FirstUser5"
            android:theme="@style/signUps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.MessageActivity"
            android:theme="@style/chatBotSpace"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.example.dialogflowapplication.ChannelActivity"
            android:theme="@style/chatBotSpace"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".AskQuestionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>


        <activity
            android:name="com.example.dialogflowapplication.FirstScreen"
            android:theme="@style/firstScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>